<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LedStripController_Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LedStripController_Configurator.Properties.Settings>
            <setting name="LedStripControllerDeviceDescriptionBase" serializeAs="String">
                <value>Direct Strip Controller </value>
            </setting>
            <setting name="BootLoaderPassword" serializeAs="String">
                <value>Direct Strip Controller</value>
            </setting>
            <setting name="MaxBootloaderVersion" serializeAs="String">
                <value>1.999</value>
            </setting>
        </LedStripController_Configurator.Properties.Settings>
    </applicationSettings>
</configuration>